extends ../layouts/common.pug

block content
  h1 User

  a.btn.btn-secondary.mb-3(href="/users/create") NEW

  form(action="/users/search", method="GET")
    input(type="text", name="q")
    button Search

  table.table
    tr
      th Name
      th Phone
      th Action

    each user in users
      tr
        td= user.name
        td= user.phone
        td
          a.btn.btn-light(href="/users/" + user.id) View  